<h2>Carrito de compras</h2>

{{#if carrito.products.length}}
  <ul>
    {{#each carrito.products}}
      <li>
        <strong>{{product.title}}</strong> - precio c/u: ${{product.price}} - cantidad: {{quantity}} 
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}

<a href="/realTimeProducts" class="btn btn-secondary mt-3">Volver a productos</a>